#main-table{
	margin-top:20px;
}

#main-table td{
	
	height:60px;
	width:110px;
	font-size:12px;
	vertical-align:top;
	border:1px solid #e2e2e2;
}

#main-table .item:hover{
	background:#a5dd0f;
	cursor:pointer;
	border-color:black;
}
#main-table td.full{
	background:#a5a5a5;
}
span{
	cursor:pointer;
	margin-left:20px;
	text-decoration:underline;
}
