body{
	margin:20px;
}
#main-table{
	margin-top:20px;
	border-collapse:collapse;
}

#main-table td{
	
	height:60px;
	width:110px;
	font-size:12px;
	vertical-align:top;
	border:1px solid #e2e2e2;
	overflow:hidden;
}

#main-table .item:hover{
	background:#a5dd0f;
	cursor:pointer;
	
}
#main-table .item.today{
	
	background:#e1dd8f ;
	font-weight:bold;
}
#main-table td.full{
	background:#a5a5a5;
}
 #main-table td.item.active{
	background:red ;
}
#main-table td p{
	margin:5px 0;
}





.header span{
	cursor:pointer;
	margin-left:20px;
	text-decoration:underline;
}

.cal__popup{
	
	
	position:absolute;
	background:#FFF;
	box-shadow:1px 3px 2px #666666, 0px -1px 2px #666666;
	border-radius:5px;
	display:none;
	padding:20px;
}

.cal__popup:before{
	position:absolute;
	margin-right:-2px;
	right:100%;
	top:20px;
	color:#FFF;
	content:"◀";
	font-size:22px;
	text-shadow: 0px 2px 0px #666666;
}

.cal__popup .close{
	position:absolute;
	top:10px;
	right:10px;
	cursor:pointer;
	line-height:12px;
}
.cal__popup  input, .cal__popup  textarea{
	display:block;
	
	display:none;
	border:1px solid #a5a5a5;
	border-radius:5px;	
	outline:none;
	line-height:25px;
}
.cal__popup  input{
	height:25px;
	
	width:200px;	
	padding:0;
}
.cal__popup  textarea{
	height:200px;
	resize: none;
	width:196px;
	padding:2px;
}
.cal__popup  .empty  input, .cal__popup  .empty textarea{
	display:block;	
}
.cal__popup p span{
	display:block;
	width:202px;
	height:27px;
	line-height:25px;
}
.cal__popup .description span{
	display:block;
	width:202px;
	height:206px;
	line-height:25px;
}
.cal__popup .empty span{
	display:none;	
}
.cal__popup .save{
	cursor:pointer;
	text-decoration:underline;
}
.cal__popup .warning-wrapper{
	height:25px;
}
.cal__popup .warning{
	color:red;
	display:none;
	font-size:12px;
}
.cal__popup .warning.visible{
	
	display:block;
}

