body{
	margin:0;
	padding:0;
}
#main-table{
	margin:20px;
}

#main-table td{
	
	height:115px;
	width:117px;
	padding:5px;
	font-size:12px;
	vertical-align:top;
	border:1px solid #e2e2e2;
	overflow:hidden;
	color:#666666;
}

#main-table .item:hover{
	
	border-color:#aecde6;
	cursor:pointer;
	background:#f3f7f9;
	
}
#main-table .item.today{
	
	background:#f4f4f4 ;
	font-weight:bold;
}
#main-table td.full{
	background:#c2e4fe;
}
 #main-table td.item.active{
	background:#e5f1f9 ;
	border-color:#8abfe9;
}
#main-table td .date{
	color:#a9a9a9;
}
#main-table td p{
	margin:5px 0;
	font-weight:bold;
}

.wrap{
	width:960px;
	margin:auto;
}

.top{
	padding-top:50px;
	padding-bottom:20px;
	background:#f4f4f4;
	border-bottom:1px solid #d3d3d3;
	box-shadow:0px 3px 3px #b7b7b7;
	margin-bottom:20px;
}

.header span{
	cursor:pointer;
	margin-left:20px;
	text-decoration:underline;
}

.cal__popup{
	
	
	position:absolute;
	background:#FFF;
	box-shadow:1px 3px 2px #666666, 0px -1px 2px #666666;
	border-radius:5px;
	display:none;
	padding:20px;
}

.cal__popup:before{
	position:absolute;
	margin-right:-2px;
	right:100%;
	top:20px;
	color:#FFF;
	content:"◀";
	font-size:22px;
	text-shadow: 0px 2px 0px #666666;
}

.cal__popup .close{
	position:absolute;
	top:10px;
	right:10px;
	cursor:pointer;
	line-height:12px;
}
.cal__popup  input, .cal__popup  textarea{
	display:block;
	
	display:none;
	border:1px solid #a5a5a5;
	border-radius:5px;	
	outline:none;
	line-height:25px;
}
.cal__popup  input{
	height:25px;
	
	width:200px;	
	padding:0;
}
.cal__popup  textarea{
	height:200px;
	resize: none;
	width:196px;
	padding:2px;
}
.cal__popup  .empty  input, .cal__popup  .empty textarea{
	display:block;	
}
.cal__popup p span{
	display:block;
	width:202px;
	height:27px;
	line-height:25px;
}
.cal__popup .description span{
	display:block;
	width:202px;
	height:206px;
	line-height:25px;
}
.cal__popup .empty span{
	display:none;	
}
.cal__popup .save{
	cursor:pointer;
	text-decoration:underline;
}
.cal__popup .warning-wrapper{
	height:25px;
}
.cal__popup .warning{
	color:red;
	display:none;
	font-size:12px;
}
.cal__popup .warning.visible{
	
	display:block;
}

