<div class="popup__window">
	<span class="b-popup__close">x</span>
	<p class="b-popup__date">
		<span></span>
	</p>
	<p class="b-popup__edit b-popup__edit_name b-popup__edit_empty">
		<span></span>
		<input type="text" placeholder="Название" name="title" />
	</p>
	<p class="b-popup__edit b-popup__edit_description b-popup__edit_empty">
		<span></span>
		<textarea name="description" placeholder="Описание"></textarea>
	</p>
	<div class="b-popup__warning-wrapper">
		<span class="b-popup__warning">Для сохранения заполните все поля</span>
	</div>
	<span class="b-popup__btn b-popup__btn_save">Сохранить</span>
	<span class="b-popup__btn b-popup__btn_delete">Удалить</span>
</div>