<table>
	<% var i,j,dayText,d=1, isToday %>
	<% for(i=0;i<weeksInMonth;i++) { %>
		<tr>
			<% j=0 %>
			<% while (j<firstDayInMonth && i===0) { %>
				<td><div class='date'><%= utils.days[j] %></div></td>
				<% j++ %>
			<% } %>
			<% for(;j<7;j++,d++) { %>
				<% if (d>daysInMonth) {%><td></td><% continue } %>
				<% dayText = i===0 ? utils.days[j]+", "+d : d %>
				<% isToday = d===todayDay && isTodayMonth %>
				<% if (monthDataArray[d]) { %> 
					<td class="b-cell b-cell_full<% if (isToday){ %> b-cell_today<% } %>" data-date="<%=d%>">
						<div>
							<div class='date'><%= dayText %></div>
							<p class='name'><%= monthDataArray[d].name %></p>
							<p class='description'><%= monthDataArray[d].description %></p>
						</div>
					</td>
				<% }else {%>
					<td class="b-cell<% if (isToday){ %> b-cell_today<% } %>" data-date="<%=d%>">
						<div>
							<div class='date'><%= dayText %></div>
							<p class='name'></p>
							<p class='description'></p>
						</div>
					</td>
				<% } %>
			<% } %>
		</tr>
	<% } %>
</table>